@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(18,31,48);
}
.header {
    grid-column: 1 / span 3;
}
@keyframes slide-in-right {
    0%  {transform: translateX(-500%)}
    100% {transform: translateX(0)}
}
@keyframes slide-in-left {
    0%  {transform: translateX(500%)}
    100% {transform: translateX(0)}
}
@keyframes slide-in-up {
    0%  {transform: translateY(-500%)}
    100% {transform: translateX(0)}
}
@keyframes slide-in-down {
    0%  {transform: translateY(500%)}
    100% {transform: translateX(0)}
}
@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

#homeContainer, #aboutContainer, #goalsExpContainer, #contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
#aboutContainer {
    animation: fade-in 2s linear;
}
#homeContainer, #aboutContainer, #goalsExpContainer, #contactContainer {
    background-image: url(https://cdn.pixabay.com/photo/2016/08/31/17/02/blue-1634110_960_720.png);
    background-size: cover;
}
#projectsContainer {
    background-image: url(https://cdn.pixabay.com/photo/2016/08/31/17/02/blue-1634110_960_720.png);
    background-size: 150vw 320vh;
    background-position-x: -30vw;
}

.contentWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sectionHeader {
    font-size: 5rem;
    font-family:  'Fredoka One', cursive;
    color: transparent;
    -webkit-text-stroke: 1px rgb(200,200,200);
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.6rem;
}

.navContainer {
    position: relative;
    width: 40em;
    height: 30em;
    left: -6em;
}

#projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-top: rem;
}

.projectWrapper {
    display: flex;
    width: 75%;
    margin: 1rem;
    max-width: 80rem;
}
.projectWrapper img {
    height: 20em;
    width: 35em;
    margin: 1rem;
    border: 1px solid white;
    border-radius: 5px;
}
.projectPreview {
    transition: 0.3s;
}
.projectPreview:hover {
    box-shadow: 1px 1px 20px 5px white;
    transform: scale(1.3);
}

.techListRight {
    display: flex;
    margin-top: 1rem;
    justify-content: right;
}
.techList {
    display: flex;
    margin-top: 1rem;
    justify-content: left;
}

.techItems {
    border-right: 2px solid red;   
    padding: .5rem;
}

.techItemsLast {
    padding: .5rem;
}

#profilePhoto {
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    position: relative;
}

#profilePhoto img {
    width: 97%;
    border-radius: 50%;
    z-index: 1;
}
#profilePhoto::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: conic-gradient(white, transparent, white, transparent, white);
    animation: rotate 4s linear infinite;
}

.normalText {
    font-size: 1.5rem;
    color: rgb(200,200,200);
    text-align: left;
    text-shadow: 2px 2px 5px black;
}

.normalTextRight {
    font-size: 1.5rem;
    color: rgb(200,200,200);
    text-align: right;
    text-shadow: 2px 2px 5px black;
}
.textCenter {
    font-size: 1.5rem;
    color: rgb(200,200,200);
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
ul li {
    position: relative;
    list-style: none;
}
ul li a {
    position: relative;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(225,225,225,0.5);
    white-space: pre;
}

ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    width: 0;
    overflow: hidden;
    transition: 1s;
    -webkit-text-stroke: 1px rgba(225,225,225,0.5);
    border-right: 8px solid white;
}
ul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px white);
}

.homeLink {
    font-size: 3.5em;
    position: absolute;
    font-family:  'Fredoka One', cursive;
    color: transparent;
    -webkit-text-stroke: 2px whitesmoke;
    display: grid;
    letter-spacing: 0.1em;
}
p a {
    color: transparent;
    -webkit-text-stroke: 2px rgba(225,225,225,0.5);
    text-decoration: none;
}
.contact {
    top: -0.3em;
    left: 4.9em;
    writing-mode: vertical-lr;
    animation: slide-in-up 1s ease;
}
.about {
    top: 0.7em;
    left: 5.9em;
    writing-mode: vertical-lr;
    animation: slide-in-up 2s ease;
}
.nick {
    top: 4em;
    left: 4.6em;
    color: white;
    -webkit-text-stroke: 2px white;
}
.duitsman {
    top: 2.7em;
    left: 6.9em;
    writing-mode: vertical-lr;
    color: white;
    -webkit-text-stroke: 2px white;
}
.goals {
    top: 5em;
    left: 3.8em;
    animation: slide-in-right 1.5s ease;
}
.resume {
    top: 5.8em;
    left: 3.3em;
    animation: slide-in-left 1.3s ease;
}
.github {
    top: 1.3em;
    left: 7.1em;
    animation: slide-in-left 1s ease;
    background-color: transparent;
}
.resume {
    top: 2.1em;
    left: 8.2em;
    animation: slide-in-left 1.7s ease;
    background-color: transparent;
}
.experience {
    top: 3.3em;
    left: 8em;
    writing-mode: vertical-lr;
    animation: slide-in-down 1.8s ease;
    background-color: transparent;
}
.future {
    top: 3.1em;
    left: 9em;
    animation: slide-in-left 1.2s ease;
    background-color: transparent;
}
.codepen {
    top: 6.1em;
    left: 2.2em;
    animation: slide-in-right 1.9s ease;
    background-color: transparent;
}
.projects {
    top: 3.3em;
    left: 9em;
    writing-mode: vertical-lr;
    animation: slide-in-down 1.6s ease;
    background-color: transparent;
}
#horiz::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px rgba(225,225,225,0.5);
}
#vert::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px rgba(225,225,225,0.5);
}

#horiz:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 5px white);
}

#vert:hover::before {
    height: 100%;
    filter: drop-shadow(0 0 5px white);
}

#name::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px rgba(225,225,225,0.5);
}
hr {
    margin: auto;
    height: 3px;
    background-color: rgb(150,150,150);
    border-radius: 40%;
}
.hr1 {
    width: 100%;
}
.hr2 {
    width: 80%;
}
.hr3 {
    width: 60%;
}
.hr4 {
    width: 30%;
}
.hr5 {
    width: 10%;
}
.projectLinksRight img {
    width: 3rem;
    height: 3rem;
    border: none;
}
.projectLinksRight {
    display: flex;
    justify-content: right;
}
.projectLinksLeft img {
    width: 3rem;
    height: 3rem;
    border: none;
}
.projectLinksLeft {
    display: flex;
    justify-content: left;
}
.projectTitleRight {
    text-align: right;
    margin-right: 0;
}
.projectTitleLeft {
    text-align: left;
    margin-left: 0;
}
#resumeLink, #linkedInLink{
    font-size: 2rem;
    -webkit-text-stroke: none;
    color: white;
    text-shadow: 1px 1px 20px red;
}