@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(16,16,26);
    color: white;
}

body {
    display: flex;
    justify-content: center;
}
.header {
    grid-column: 1 / span 3;
}
@keyframes slide-in-right {
    0%  {transform: translateX(-500%)}
    100% {transform: translateX(0)}
}
@keyframes slide-in-left {
    0%  {transform: translateX(500%)}
    100% {transform: translateX(0)}
}
@keyframes slide-in-up {
    0%  {transform: translateY(-500%)}
    100% {transform: translateX(0)}
}
@keyframes slide-in-down {
    0%  {transform: translateY(500%)}
    100% {transform: translateX(0)}
}
@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}
#homeContainer {
    display: flex;
    margin-top: 5rem;
}

.navContainer {
    position: relative;
    width: 40em;
    height: 30em;
}

#profilePhoto img {
    border-radius: 50%;
    /* animation: fade-in 4s ease; */
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
ul li {
    position: relative;
    list-style: none;
}
ul li a {
    position: relative;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(225,225,225,0.5);
    white-space: pre;
}

ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    width: 0;
    overflow: hidden;
    transition: 1s;
    -webkit-text-stroke: 1px rgba(225,225,225,0.5);
    border-right: 8px solid white;
}
ul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px white);
}

.homeLink {
    font-size: 3em;
    position: absolute;
    font-family:  'Fredoka One', cursive;
    color: transparent;
    -webkit-text-stroke: 2px grey;
    display: grid;
    letter-spacing: 0.1em;
}
p a {
    color: transparent;
    -webkit-text-stroke: 2px rgba(225,225,225,0.5);
    text-decoration: none;
}
.contact {
    top: -0.3em;
    left: 4.9em;
    writing-mode: vertical-lr;
    animation: slide-in-up 1s ease;
}
.about {
    top: 0.7em;
    left: 5.9em;
    writing-mode: vertical-lr;
    animation: slide-in-up 2s ease;
}
.nick {
    top: 4em;
    left: 4.6em;
    color: white;
    -webkit-text-stroke: 2px white;
}
.duitsman {
    top: 2.7em;
    left: 6.9em;
    writing-mode: vertical-lr;
    color: white;
    -webkit-text-stroke: 2px white;
}
.goals {
    top: 5em;
    left: 3.8em;
    animation: slide-in-right 1.5s ease;
}
.resume {
    top: 5.8em;
    left: 3.3em;
    animation: slide-in-left 1.3s ease;
}
.github {
    top: 1.3em;
    left: 7.1em;
    animation: slide-in-left 1s ease;
    background-color: transparent;
}
.resume {
    top: 2.1em;
    left: 8.2em;
    animation: slide-in-left 1.7s ease;
    background-color: transparent;
}
.experience {
    top: 3.3em;
    left: 8em;
    writing-mode: vertical-lr;
    animation: slide-in-down 1.8s ease;
    background-color: transparent;
}
.future {
    top: 3.1em;
    left: 9em;
    animation: slide-in-left 1.2s ease;
    background-color: transparent;
}
.codepen {
    top: 6.1em;
    left: 2.2em;
    animation: slide-in-right 1.9s ease;
    background-color: transparent;
}
.projects {
    top: 4.3em;
    left: 9em;
    writing-mode: vertical-lr;
    animation: slide-in-down 1.6s ease;
    background-color: transparent;
}
#horiz::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px rgba(225,225,225,0.5);
}
#vert::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px rgba(225,225,225,0.5);
}

#horiz:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 5px white);
}

#vert:hover::before {
    height: 100%;
    filter: drop-shadow(0 0 5px white);
}

#name::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px rgba(225,225,225,0.5);
    
}
